/*main body styles*/

p {
	font-family: Arial, Helvetica, sans-serif;
}

.bodyhome{
	background: white;
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("pictures/cover.jpg");
	background-attachment: fixed;
}

.body-publications{
	background: white;
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-image: url("pictures/IMG_20190608_143007.jpg");
}

button{
	cursor: pointer;
}

/* Clear floats after the columns */

.row:after {
	content: "";
	display: table;
	clear: both;
	margin-top: 1%
}

.col {
	float: left;
	padding-top: 1%;
	width: 9.09%;
	text-align: center;
}

.header{
	padding: 50px;
	text-align: center;
	background: #ffc433;
	font-size: 20px;
}

.initheader{
	margin-top: 5%;
	padding: 50px;
	text-align: center;
	background: rgba(255, 196, 51, 0.75);
	font-size: 20px;
	color: rgba(0,0,0,1.0);
	animation-name: initheader-animation;
	animation-duration: 2s;
	animation-delay: -0.1s;
}

@keyframes initheader-animation{
	from {margin-top: 10%}
	to {margin-top: 5%}
}

/*Sidebar styles*/

.sidebar {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}

.sidebar a {
	text-align: center;
	overflow: hidden;
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.sidebar a:hover {
	color: #f1f1f1;
}

.sidebar .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

.sidebar button{
	overflow: hidden;
	background-color: #111;
	border: 0px solid #111;
	text-align: center;
	width: 95%;
	border-radius: 4px;
	padding: 7px;
	transition-duration: 0.4s;
	color: #818181;
	height: 5%;
	box-sizing: border-box;
	white-space: nowrap;
}
.sidebar button:hover{
	background-color: #f1f1f1;
	color: black;
	height: 8%;
}

#choosen{
	background-color: #f1f1f1;
	color: black;
	height: 5%;
	cursor: default;
}

.openbtn {
	font-size: 20px;
	cursor: pointer;
	background-color: #111;
	color: white;
	padding: 10px 15px;
	border: none;
}

.openbtn:hover {
	background-color: #444;
}

#main {
	transition: margin-left 1.0s;
	padding: 0px;
	animation-name: my-animation;
	animation-duration: 2s;
	animation-delay: -0.2s;
}

@keyframes my-animation{
	from {opacity: 0.0}
	to {opacity: 1.0}
}


/*Top bar style*/

.navbar {
	overflow: hidden;
	background-color: #111;
	position: fixed; /* Set the navbar to fixed position */
	top: 0; /* Position the navbar at the top of the page */
	width: 100%; /* Full width */
}

.navbar a {
	float: right;
	color: #f2f2f2;
	text-align: center;
	padding: 12px 16px;
	text-decoration: none;
	font-size: 20px;
}

.navbar button{
	float: left;
	height: 100%;
	transition-duration: 0.4s;
}

.navbar button:hover{
	background-color: #f1f1f1;
	color: black;
}


.buttonTransparent{
	color: rgba(0,0,0,1.0);
	background: rgba(255,255,255,0.7);
	font: sans-serif;
	border: 0px solid #111;
	text-align: center;
	width: 95%;
	height: 10%;
	transition-duration: 0.4s;
	border-radius: 4px;
}

.buttonTransparent:hover{
	color: rgba(255,255,255,1.0);
	background: rgba(0,0,0,0.7);
}

/*Project style*/

.oc-button{
	width: 50%;
	height: 50px;
	background: black;
	color: white;
	transition-duration: 0.5s;
	overflow: hidden;
	border-width: 0;
}

.oc-button:hover{
	background: #f1f1f1;
	color: black; 
}

.container{
	width: 100%;
	height: 0;
	transition-duration: 0.5s;
	transition-delay: 0s;
	float: left;
	background: rgba(0, 0, 0, 0);
	overflow: hidden;
}

.content{
	transition-delay: 0.5s;
	transition-duration: 0.5s;
	width: 0%;
	float: left;
	height: 400px;
	overflow: hidden;
	border: 0px solid #ddd;
	border-radius: 10px;
	margin-left: 1%;
	overflow: hidden;
	background: rgba(255,255,255,0.75);
	margin-top: 5px;
}

.content-title{
	height: 20%;
	position: relative;
}

.content-title p{
	position: absolute;
	cursor: pointer;
	overflow: hidden;
	white-space: nowrap;
	font-size: 20px;
	text-decoration: none;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); 
}

.content-title button{
	border-radius: 5px;
	border: 0;
	padding: 1%;
	transition-duration: 0.2s;
}

.content-title button:hover{
	color: white;
	background: black;
}

.content hr{
	width: 94%;
	border-width: 1%;
}

.content p{
	padding: 0 3% 3% 3%;
}

.snapshot{
	width: 25%;
	height: 400px;
	float: left;
	border-radius: 10px;
	transition-duration: 0.2s;
	overflow: hidden;
	background: rgba(255,255,255,0.75);
	position: relative;
	top: 5px;
	left: 5px;
}

.snapimg{
	height: auto;
	width: auto;
	max-width: 90%;
	max-height: 90%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	transition-duration: 0.2s;
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* Summary components*/

.right-info{
	width: 60%;
	height: 300px;
	margin-top: 1%;
	transition-duration: 0.5s;
	transition-delay: -0.1s;
	background: rgba(255,255,255,0.75);
	float: right;
	border-radius: 10px;
}

.right-info hr{
	width: 94%;
	border-width: 1%;
}

.right-info p{
	padding: 0 3% 3% 3%;
}


.left-info{
	width: 60%;
	height: 300px;
	margin-top: 1%;
	transition-duration: 0.5s;
	transition-delay: -0.1s;
	background: rgba(255,255,255,0.75);
	float: left;
	border-radius: 10px;
}

.left-info hr{
	width: 94%;
	border-width: 1%;
}

.left-info p{
	padding: 0 3% 3% 3%;
}



.div-full{
	padding: 3%;
	overflow-y: auto;
	overflow-x: hidden;
}

.div-full p{
	padding: 1% 3%;
}
